.btn__container {
    display: flex;
    justify-content: left;
}

.btn {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 50px;
    border: none;
}

.btn--long--red--welcome {
    color: #fff;
    padding: 19px 57px;
    background: #f5170e;
    border: 1px solid #f5170e;
}

.btn--long--red--welcome:hover {
    box-shadow: 0 0 25px 0 rgba(245, 23, 14, .7);
}

.btn--long--red {
    color: #fff;
    padding: 16.5px 39px;
    background: #f5170e;
    border: 1px solid #f5170e;
}

.btn--long--red:hover {
    box-shadow: 0 0 25px 0 rgba(245, 23, 14, .7);
}

.btn--long--red--none--shadow {
    color: #fff;
    padding: 16.5px 39px;
    background: #f5170e;
    border: 1px solid #f5170e;
}

.btn--short--white {
    padding: 16.5px 25px;
    background: #fff;
    border: 1px solid #f5170e;
    color: #f5170e;
}

.btn--short--white:hover {
    background: #f5170e;
    color: #fff;
}

.btn--long--white {
    color: #f5170e;
    padding: 16.5px 39px;
    background: #fff;
    border: 1px solid #f5170e;
}

.btn--long--white:hover {
    background: #f5170e;
    color: #fff;
}

.form___btn {
    margin-right: 20px;
}

.form___btn:last-child {
    margin-right: 0;
}

.btn--long--black {
    padding: 16.5px 39px;
    background: #000;
    border: 1px solid #000;
    color: #fff;
    margin-right: 20px;
}

.btn--black--long:hover {
    background: #fff;
    color: #000;
}