.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-top: 45px;
   margin-bottom: 156px;
}

.header__col {
   display: flex;
   align-items: center;
}

.header__col--align--right {
   justify-content: flex-end;

}

.logo {
  display: block;
  margin-right: 100px;
}

.logo__img {
   width: 99px;
   height: 40px;
}

.menu {
   
}

.menu__item {
   display: inline-block;
   vertical-align: middle;
   margin-right: 53px;
   letter-spacing: -0.4px;
}

.menu__item:last-child {
   margin-right: 0;
}

.menu__item--active .menu__link {
   color: #f5170e;
}

.menu__link {
   font-size: 14px;
   color: #fff;
}

.menu__link:hover {
   color: #f5170e;
}

.contacts {
   font-style: normal;
   text-align: right;
   letter-spacing: 0.5px;
}

.contacts__phone {
   color: #fff;
   font-size: 25px;
   letter-spacing: 2.65px;
}

.contacts__workhours {
   font-size: 15px;
   font-weight: 400;
   letter-spacing: -1.1px;
   text-decoration: underline;
}

.contacts__dropdown-title {
   font-size: 13px;
   text-decoration: underline;
   color: #dfb56d;
}