/* INDEX */

.header {
   display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 18.5px;
    margin-bottom: 140px;
}

.header__services {
   margin-bottom: 0;
}

.header__col {
   display: flex;
   align-items: center;
}

.header__col--align--right {
   justify-content: flex-end;

}

.logo {
  display: block;
  margin-right: 66px;
}

.logo__img {
   width: 99px;
   height: 40px;
}

.menu__list {
   display: flex;
   align-items: center;
}

.menu__item {
   /* display: inline-block;
   vertical-align: middle; */
   margin-right: 53px;
   letter-spacing: -0.4px;
}

.menu__item:last-child {
   margin-right: 0;
}

.menu__item--active .menu__link {
   color: #f5170e;
}

.menu__link {
   font-size: 14px;
   color: #fff;
}

.menu__link:hover {
   color: #f5170e;
}

.contacts {
   font-style: normal;
   text-align: right;
   letter-spacing: 0.5px;
}

.contacts__phone {
   display: block;
   color: #fff;
   font-size: 25px;
   letter-spacing: 2.65px;
}

.dropdown {
   position: relative;
   display: inline-block;
}

.dropdown__title {
   font-size: 13px;
   color: #fff;
   font-weight: 700;
   text-decoration: underline;
}

.dropdown__menu {
   display: none;
   position: absolute;
   right: 0;
   top: 35px;
   width: 182px;
   min-height: 66px;
   padding: 15px 25px;
   color: #18191b;
   background: #fff;
   border-radius: 4px;
   font-size: 13px;
}

.dropdown:hover .dropdown__menu {
   display: block;
}

.dropdown__menu::before {
   content: "";
   display: block;
   position: absolute;
   border: 12px solid transparent;
   width: 0;
   height: 0;
   border-bottom-color: #fff;
   bottom: 99%;
   right: 50px;
}

.dropdown__menu-text--bold {
   font-weight: 700;
}


