.offers {
   margin-bottom: 138px;
}

.offers__title {
   font-size: 36px;
   font-weight: 700;
   margin-bottom: 45px;
   display: inline-block;
   margin-right: 4px;
}

.offers__list {
   display: flex;
   justify-content: space-between;
}

.offers__item {
   vertical-align: top;
   background: #fff;
   border-radius: 4px;
   overflow: hidden;
   width: calc(100% / 3 - 16px); /*100% от родителя разделить на 3 ячейки и вычесть 18px отступа (так как 28px отступа по макету разделить 2 два промежутка)*/
   min-height: 440px;
}

.offers__item:last-child {
   margin-right: 0;
}

.offers__header {
   height: 141px;
   overflow: hidden;
   display: block;
}

.offers__header-img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.offers__info {
   padding: 23px 21px;
   color: #000;
   font-size: 15px;
}

.offers__subtitle {
   font-weight: 700;
   font-size: 24px;
   margin-bottom: 12px;
   color: #000;
}

.offers__service {
   display: flex;
   justify-content: space-between;
}

.offers__service-item {
   /* display: inline-block; */
   width: 130px;
   margin-right: 25px;
}

.offers__service-item:last-child {
   margin-right: 0;
}

.img.offers__service-icon {
   vertical-align: middle;
}

.offers__service-description {
   font-size: 16px;
   color: #666666;
}

.offers__text {
   margin-bottom: 40px;
}


.offers__btn {
   padding: 14px 29px;
   border: 1px solid #f5170e;
   border-radius: 50px;
   background: #fff;
   font-size: 14px;
   font-weight: 700;
   text-transform: uppercase;
   color: #f5170e;
}

.offers__btn:hover {
   background: #f5170e;
   color: #fff;
}