.pager {
   text-align: center;
   margin-bottom: 150px;
}

.pager__display {
   margin-right: 30px;
}

.pager__item {
   display: inline-block;
   vertical-align: middle;
}

.pager__link {
   display: block;
   color: #fff;
   width: 32px;
   height: 32px;
   border-radius: 50%;
   text-decoration: none;
   font-weight: 700;
   line-height: 32px;
}

.pager__item--active .pager__link {
   background: #fff;
   color: #f5170e;
}

.pager__display,
.pager__list {
   display: inline-block;
   vertical-align: middle;
}