.pager {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 25px;
}



 .pager--theme--light .pager--theme--light--active .pager__link {
   /* color: #000;
   background: #f5170e; */
 }

 .pager--theme--light .pager__link{
   color: #000;
 }

 .pager--theme--light .pager__link:hover {
   color: #fff;
   background: #f5170e;
 }

.pager__display {
   margin-right: 30px;
}

.pager__list {
   display: flex;
   align-items: center;
}

.pager__item {
   text-align: center;
}

.pager__link {
   display: block;
   color: #fff;
   width: 32px;
   height: 32px;
   border-radius: 50%;
   text-decoration: none;
   font-weight: 700;
   line-height: 32px;
}

.pager__item--active .pager__link {
   background: #f5170e;
   color: #fff;
}

