.preview__container {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   min-height: 600px;
}

.preview {
   width: 600px;
   margin-bottom: 264.5px;
}

.preview__text-section {
   width: 85%;
}

.preview__title {
   font-size: 71px;
   font-weight: 700;
   margin-bottom: 23px;
   letter-spacing: 0.5px;
   line-height: 1.23;
}

.preview__subtitle {
   font-size: 18px;
   margin-bottom: 50px;
}